@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Average);

$body-background: rgb(0, 0, 0);
$bubble-color: rgba(73, 73, 72, 0.8);
$bubble-background: rgb(243, 241, 237);
$bubbleborder-color: rgb(243, 241, 237);
$headlineshadow: rgba(243, 241, 237, 0.5);

$close-color: adjust-hue($bubble-background, 170%);
$close-color-hover: saturate ($close-color, 50%);
$linkcolor: rgb(243, 241, 200);
$break-large: 1800px;
$break-small: 600px;

body {
  background: #000;
  font-family: "Average";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1.5em;
  height: 1000vh;     
  // set the height of your document here - I sort of guess, based on how hard it is to scroll - 
  // This unit VH is the user's monitor, cut into 100 vertical units. 1000 is 10 screens worth - this makes other calculations easier.
  // big numbers here are huge scrolls. Small numbers are tiny scrolls, the CSS recalculates everything based on this scroll comfort
}

.intro {
  position: relative;
  overflow: hidden;
  height:300vh;
  text-align: center;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 1.5;
  box-sizing: content-box;
  font-size: 1.2em;
  margin: 0 auto;
  @media screen and (min-width: $break-small) {
    h1 {
      max-width: 600px;
      margin: 0 auto;
      font-family: "Fjalla One", sans-serif;
      font-size: 120px;
      color: #fff;
      padding: 40px 0 0 0;
      letter-spacing: -3px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 130px;
      text-shadow: 2px 2px 0 rgba(8, 8, 8, 1), 3px 3px 0 $headlineshadow,
        4px 4px 0 $headlineshadow, 0 0 25px $headlineshadow;
      span.small {
        font-size: 40px;
        margin-left: 0;
        position: absolute;
      }
      span.large {
        font-size: 180px;
        margin: 0 0 0 -60px;
      }
    }
    h2 {
      max-width: 600px;
      margin: 0 auto;
      font-family: "Fjalla One", sans-serif;
      font-size: 20px;
      color: #fff;
      padding: 20px 0 10px 0;
      letter-spacing: 3px;
      font-weight: 500;
    }

    article {
      max-width: 600px;
      columns: 2;
      width: 80%;
      margin: 2em auto 5em;
      text-align: left;
    }
  }
  @media screen and (max-width: $break-small) {
    h1 {
      width: 90%;
      margin: 0 auto;
      font-family: "Fjalla One", sans-serif;
      font-size: 60px;
      color: #fff;
      padding: 40px 0;
      letter-spacing: 2px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 60px;
      text-shadow: 2px 2px 0 rgba(8, 8, 8, 1), 3px 3px 0 $headlineshadow,
        4px 4px 0 $headlineshadow, 0 0 25px $headlineshadow;
    }
    h2 {
      width: 90%;
      margin: 0 auto;
      font-family: "Fjalla One", sans-serif;
      font-size: 20px;
      color: #fff;
      padding: 20px 0 10px 0;
      letter-spacing: 3px;
      font-weight: 500;
    }
    article {
      width: 90%;
      columns: 1;
      margin: 2em auto 5em;
      text-align: left;
    }
    p {
      margin: 0 0 2rem 0;
    }
  }
}


.content {
  pointer-events: none;
  display:block;
  position: relative;
  margin: 0;
  width: 100%;
  overflow: hidden;
  z-index: 11;
}
.hole {
  display:block;
  position: relative;
  margin: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  top:100vh; //always below the fold
}

/****************************************************************\
*** Parallax ****************************************************
\****************************************************************/

.hole {
  .parallax-bg3a,
  .parallax-bg3b,
  .parallax-bg2b,
  .parallax-bg2a,
  .parallax-bg1{
    position: fixed;
    margin: 0 0 0 0;
    top: 0px;
    background-repeat: repeat-y;
    pointer-events: none;
    height:3690px;                   
    // This is an image that moves with scroll, so it's set as a background on a fixed element that 
    // uses background-position to 'scroll' up and down. It needs a PX vale to containthe image. Note that you
    //can use the div, bigger or smaller to 'zoom' into am image, if background-sizing is contrained.
    
    
  }

  .parallax-bg1 {
    // hole
    position: fixed;
    // float: left;
    z-index: 1;
    width: 100vw;
    background-image: url(scaled.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: #000;
  }
  
  .parallax-bg2b {
    //left back
    z-index: 4;
    width: 300px;
    left: 50%;
    margin:0 0 0 -730px;
    background-image: url(wallleft.png?w456456);
  }

  .parallax-bg2a {
    //right back
    z-index: 2;
    width: 300px;
    left: 50%;
    margin:0 0 0 430px;
    background-image: url(wallright.png?345345);
  }


  .parallax-bg3a {
    //left fore
    z-index: 5;
    width: 200px;
    left: 50%;
    margin:0 0 0 -750px;
    background-image: url(walllefttop.png?65745);
  }

  .parallax-bg3b {
    //right fore
    z-index: 3;
    left: 50%;
    width: 200px;
    margin:0 0 0 550px;
    background-image: url(wallrighttop.png?4234134);
  }


}

/****************************************************************\
*** Articles ****************************************************
\****************************************************************/


.articles{
  height: 700vh;
  position: relative;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 100%;
  article {
    position: relative;
    margin:0 10vh 1vh ;
    width: 300px;
    color: #fff;
    padding: 20px 20px 100px 20px;
    background: $bubble-color;
    pointer-events: all;
    z-index: 101;
    h1 {
      margin: 0 0 25px 0;
      font-size: 60px;
      font-family: "Fjalla One", sans-serif;
      font-weight: normal;
      line-height: 65px;
      color: #fff;
    }
    img {
      width: 100%;
      margin: 10px 0;
    }
    a.artifactlink {
      text-decoration: none;
      color: darken($bubble-background, 30%);
      padding: 2px 7px;
      margin: 0 3px;
      display: inline;
      background: #f3f1ed;
      border-radius: 50%;
      border: 2px solid darken($bubble-background, 30%);
      font-weight: 100;
      text-align: center;
    }
    .scrollbutton a {
      margin: 0 auto;
    }
    .last a span::after {
      -webkit-transform: rotate(-225deg);
      transform: rotate(-225deg);
      top: 68%;
    }
  }
}
@media screen and (max-width: $break-small) {
  .articles article {
    width: 80%;
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 10%;
  }
}



/****************************************************************\
*** Diagram numbers  *********************************************
\****************************************************************/

.number,
.numbertwodig {
  color: darken($bubble-background, 30%);
  padding: 2px 7px;
  margin: 0 3px;
  display: inline;
  background: #f3f1ed;
  border-radius: 50%;
  border: 2px solid darken($bubble-background, 30%);
  font-weight: 100;
  text-align: center;
}

.artifacts .number,
.artifacts .numbertwodig {
  position: absolute;
  color: darken($bubble-background, 30%);
  top: 0px;
  right: 0px;
  display: block;
  background: $bubble-background;
  border-radius: 50%;
  border: 2px solid darken($bubble-background, 30%);
  font-weight: 100;
  text-align: center;
  font-size: 27px;
  padding: 1px 14px;
  z-index: 1;
}
.numbertwodig {
  padding: 3px 5px;
}

/****************************************************************\
*** Timeline  ****************************************************
\****************************************************************/

@media screen and (min-width: $break-small) {
  .timeline {
    z-index: 4;
    right: 0;
    position: fixed;
    width: 60vw;
    margin: 0 10vh 0 0;
    color: #fff;
    pointer-events: none;
    li {
      margin: 0 0 150px 100%;
      float: right;
      border-top: 1px dashed rgba(255, 255, 255, 0.6);
      height: 10px;
      background: -webkit-linear-gradient(
        bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3)
      );
      color: #fff;
      position: relative;
      width: 100%;
      line-height: 7px;
      padding: 20px;
      text-align: right;
      img {
        width: 100px;
        position: absolute;
        right: -0;
        top: 2em;
      }
    }
    li:last-of-type {
      margin-bottom: 590px;
    }
  }
}
@media screen and (max-width: $break-small) {
  #timeline {
    display: none;
  }
}
/****************************************************************\
*** Artifacts ***************************************************
\****************************************************************/

.artifacts {
  margin: 0;
  margin: 0 auto;
  display: block;
  box-sizing: content-box;
  z-index: 10;
  position: fixed;
  left: 50%;
  // width: 1200px;
  // height: 3690px;
  margin: 0;
  pointer-events: none;
  .artifact {
    z-index: 10;
  }
  input {
    display: none;
  }
  label {
    cursor: pointer;
    background-color: transparent;
    background-size: 150px;
    background-repeat: no-repeat;
    font-weight: 100;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    pointer-events: all;
    
  }
  label .info {
    opacity: 0;
    pointer-events: none;
  }
  label.hovered {
    overflow: visible;
    z-index: 99999;
  }
  label.hovered .info {
    opacity: 1;
    pointer-events: inherit;
  }
  label.hovered .number,
  label.hovered .numbertwodig {
    top: -50px;
    right: -50px;
  }
  label img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
    max-width: 100%;
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 1));
    transition: transform .5s ease;
  }
  label.hovered img {
    transform: scale(1.5);
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 1));
    
  }

  label.artifact1 {
    left: 50%;
    top: 1000px;
    width: 400px;
    transform: translate(-50%, 0);
  }

  label.artifact2 {
    left: 50%;
    top: 1310px;
    width: 400px;
    transform: translate(-50%, 0);
  }

  label.artifact3 {
    left: 50%;
    top: 1500px;
    width: 350px;
    transform: translate(-50%, 0);
  }

  label.artifact4 {
    left: 50%;
    top: 1900px;
    width: 400px;
    transform: translate(-50%, 0);
  }

  label.artifact5 {
    left: 50%;
    top: 2300px;
    width: 400px;
    transform: translate(-50%, 0);
  }

  label.artifact6 {
    left: 50%;
    top: 2850px;
    width: 350px;
    transform: translate(-50%, 0);
  }

  @media screen and (max-width: $break-small) {
    label.artifact1,
    label.artifact2,
    label.artifact3,
    label.artifact4,
    label.artifact5,
    label.artifact6 {
      width: 20%;
    }
  }

  label.artifact1 .info,
  label.artifact2 .info,
  label.artifact3 .info,
  label.artifact4 .info,
  label.artifact5 .info {
    left: 50%;
    top: 135%;
    transform: translate(-50%, 0);
  }
  label.artifact6 .info {
    left: 50%;
    top: -135%;
    transform: translate(-50%, 0);
  }
  .info h3 span {
    position: relative;
    color: darken($bubble-background, 30%);
    top: 0px;
    left: 0px;
    display: inline;
    background: $bubble-background;
    border-radius: 50%;
    border: 2px solid darken($bubble-background, 30%);
    font-weight: 100;
    text-align: center;
    font-size: 18px;
    padding: 2px 8px;
    z-index: 1;
    margin: 0 10px 0 0;
  }
  /****************************************************************\
  *** Info popup ***************************************************
  \****************************************************************/
  .info {
    top: 0px;
    display: block;
    position: absolute;
    background: $bubble-background;
    color: $bubble-color;
    width: 400px;
    z-index: 100;
    padding: 30px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-width: 1px 0 0 0;
    z-index: 2000;
    a {
      color: #0d2992;
      text-decoration: none;
    }
    a:hover,
    a:focus {
      color: #3d59c2;
      text-decoration: underline;
    }
  }
  @media screen and (max-width: $break-small) {
    .info {
      width: 100%;
    }
  }
  .info span.close:after {
    content: "";
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    color: darken($bubble-background, 30%);
    top: 25px;
    right: 25px;
    display: block;
    background-image: url(Close-X-gy.png);
    background-color: $bubble-background;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #000;
  }
  .info:hover span.close:after {
    background-color: #fff;
    border: 1px solid darken($bubble-background, 90%);
    color: darken($bubble-background, 90%);
  }
  .info h3 {
    padding: 6px 0 4px;
    margin: 0;
    margin-top: -20px;
    font-size: 22px;
    color: rgb(30, 93, 111);
  }
  .info h4 {
    padding: 10px 0 0px;
    margin: 0;
    color: rgb(40, 135, 155);
  }
  .info p {
    padding: 0;
    margin: 0 0 10px 0;
  }
  /****************************************************************\
  *** Modal Boxes **************************************************
  \****************************************************************/
  .triangle-isosceles:after {
    content: "";
    position: absolute;
    bottom: -15px;
    /* value = - border-top-width - border-bottom-width */
    left: 50px;
    /* controls horizontal position */
    border-width: 25px 25px 0;
    /* vary these values to change the angle of the vertex */
    border-style: solid;
    border-color: $bubbleborder-color transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
  }
  .triangle-isosceles.top:after {
    top: -15px;
    /* value = - border-top-width - border-bottom-width */
    right: 50px;
    /* controls horizontal position */
    bottom: auto;
    left: auto;
    border-width: 0 25px 25px;
    /* vary these values to change the angle of the vertex */
    border-color: $bubbleborder-color transparent;
  }
  .triangle-isosceles.left:after {
    top: 16px;
    /* controls vertical position */
    left: -50px;
    /* value = - border-left-width - border-right-width */
    bottom: auto;
    border-width: 25px 50px 25px 0;
    border-color: transparent $bubbleborder-color;
  }
  .triangle-isosceles.right:after {
    top: 16px;
    /* controls vertical position */
    right: -50px;
    /* value = - border-left-width - border-right-width */
    bottom: auto;
    left: auto;
    border-width: 25px 0 25px 50px;
    border-color: transparent $bubbleborder-color;
  }
}

/****************************************************************\
*** Scroll up and down buttons ***********************************
\****************************************************************/

.scrollbutton {
  display: block;
  text-align: center;
  width: 100%;
  margin: 40px auto;
}

.scrollbutton a {
  display: block;
  margin: 0 auto 88px auto;
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
  width: 88px;
  position: relative;
  font-size: 0.9rem;
  z-index: 10000;
  font-family: "Fjalla One", sans-serif;
}

.scrollbutton a span {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 50%;
  margin-left: -22px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  bottom: -50px;
}

.scrollbutton a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.footer {
  position: relative;
  height:100vh;
  bottom:100vh;
  background: #000;
  text-align: center;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 1.5;
  box-sizing: content-box;
  font-size: 1.2em;
  margin: 0 auto;
  z-index: 1000;
  h1 {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Fjalla One", sans-serif;
    font-size: 60px;
    color: #fff;
    padding: 10px 0 0 0;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 rgba(8, 8, 8, 1), 3px 3px 0 $headlineshadow,
      4px 4px 0 $headlineshadow, 0 0 25px $headlineshadow;
  }
  h2 {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Fjalla One", sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 20px 0 10px 0;
    letter-spacing: 3px;
    font-weight: 500;
    text-align: center;
  }
  article {
    max-width: 600px;
    columns: 2;
    margin: 0 0 2rem 0;
    width: 80%;
    margin: 2em auto 5em;
    text-align: left;
  }
  @media screen and (max-width: $break-small) {
    article {
      width: 90%;
      columns: 1;
      margin: 2em auto 5em;
      text-align: left;
    }
  }
  a {
    color: $linkcolor;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: adjust-hue ($linkcolor, 50%);
    text-decoration: underline;
  }
  ul {
    text-align: center;
  }
}

.scrollholder {  //where the video is displayed
  min-width: 100vw;
  height: 120vh;
  position: fixed;
  background-size: cover;
}

.invis {
  height: 0;
}

.lowzed {
  z-index: 9 !important;
}

.invis {
  height: 0;
}

sup {
  font-size: small;
}
